
/*html {
    background-color:   255 255 255;
    font-size:          .9em;
}*/

body { 
    padding-top: 70px; 
}

.diff-container {
    padding-top: 3em;
}

.name {
    font-size: 4em;
}

.separator {
    padding-top: 2em;
    padding-bottom: 2em;
}

ul {
    /*list-style: none;*/
}

/*******************************************
        anchor
********************************************/

/* visited link */
a:link, a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: yellow;
    text-decoration-style: none;
}

/* selected link */
a:active {
    color: red;
}
/*******************************************
        footer
********************************************/
.footer {
    background-color: rgb(248,248,248);
    position: fixed;
    bottom: 0px; 
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border: solid;
    border-width: thin;
    border-color: rgb(231, 231, 231);
    width: 100%;
}

/*******************************************
        magazine.php
********************************************/

#magazine-name {
    background-color: rgb(50, 80, 109); 
    padding: 3.1em 0.3em;
    border-radius: 2px;
    color:white;
}

.magazine {
    text-align:  center;
    clear:       both;
    padding-top: 3em;
    padding-bottom: 3em;
}

.mag-img-container li {
    padding-top: 1em; 
    padding-bottom: 1em; 
    list-style: none;
}

.mag-img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

#backtotop {
    width: 30px;
    height: 30px;
    position:   fixed;
    right:      20px;
    bottom:     50px;
    color:      black;
    text-decoration: none;
}

/* back to top icon */
#btt {
    width: 30px;
    height: 30px;
}

/*******************************************
        image
********************************************/

a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
    max-width: 500px; 
    max-height: 500px;
} 
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}

/*******************************************
        projects.php
********************************************/
.proj-nav {
    z-index: 1;
    border-radius: 3px;
    margin:0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    position:fixed;
    float: left;
    color: rgb(248,248,242);
    background-color: rgb(39,40,34);
}



.proj-nav ul li {
    list-style: none;
    /*color:rgb(218,219,116);*/
}
.proj-nav ul li a {
    color:rgb(218,219,116);
}

.tech-used {
    list-style: none;
}

.tech-used>li {
    display: inline;
}


.projects {
    width: 500px;
    margin: 0 auto;  /*center the content */
    padding-bottom: 4em;
}

.projects ul, .projects li {
    padding-top: 1em; 
    /*padding-bottom: 1em; */
    list-style: none;
}

.proj-image {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}

.tech-used li {
    /*padding-left: 1em;
    padding-right: 1em;*/
    padding: 0.1em 1em;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: black; 
}

a.active {
    background: #666;
    color: #fff;
}

.proj-target {
    /*padding-bottom: 6em;*/
    min-height:80vh;
}

.proj-target h2 {
    /*padding-bottom: 1em;*/
}

.proj-desc {

}

#proj-stool {
    position: relative;
    /*align-items: center;*/
    padding-bottom: 6em;
    margin: auto;
}

/*******************************************
        about.php
********************************************/

.about {
    /*width: 350px;*/
    /* center the content */
    /*margin: 0 auto; */
    /*padding-top: 6em;*/
    /*padding-bottom: 4em;*/
}

.career-interest li {
    padding-top: 1em;
    /*padding-bottom: 1em;*/
}

.work, .personal {
    padding: 1em;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    /*min-height:100vh;*/
    box-shadow: 5px 10px 8px #888888;
}