html {
    background-color:   255 255 255;
    font-size:          .9em;
}

/*h1 {
    color:black !important;
}*/

.tech-used {
    list-style: none;
}

.tech-used>li {
    display: inline;
    /*margin: 5px;*/
}

.career-interest li {
    padding-top: 1em;
    padding-bottom: 1em;
}

#archive_container {
    margin: auto;
    width: 50%;
    padding: 10px;
}


/*******************************************
        anchor
********************************************/
/*a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: #646464;
    color: white;
}*/

/* visited link */
a:link, a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: red;
}
/*******************************************
        footer
********************************************/
.footer {
    background-color: white;
    position: fixed;
    bottom:         0px; 
    padding-left:   20px;
    width:          100%;
}

/*******************************************
        magazine.php
********************************************/
.magazine {
    text-align:  center;
    clear:       both;
    padding-top: 3em;
}

.mag-img {
    height: auto; 
    width: auto; 
    max-width: 275px; 
    max-height: 275px;
}

#backtotop {
    width: 30px;
    height: 30px;
    position:   fixed;
    right:      20px;
    bottom:     50px;
    color:      black;
    text-decoration: none;
}

/* back to top icon */
#btt {
    width: 30px;
    height: 30px;
}


/*******************************************
        contents
********************************************/

.about {
    width: 350px;
    margin: 0 auto; /* center the content */
    padding-top: 6em;
    padding-bottom: 4em;
}

.projects {
    width: 500px;
    margin: 0 auto; /* center the content */
    padding-top: 6em;
    padding-bottom: 4em;
}

.proj-image {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}

.tech-used li {
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: thin;
    border-color: rgb(51,121,181); 
}




